{% extends "base.html" %}
{% block content %}
    <h2>Dashboard</h2>
    <p><a href={{ url_for('users.register') }}>Register</a></p>
    <p><a href={{ url_for('users.login') }}>Log in</a></p>
    <p><a href={{ url_for('public.home') }}>Home page</a> (accessible to anyone)</p>
    <p><a href={{ url_for('main.dashboard') }}>Dashboard</a> (login required)</p>
    <p><a href={{ url_for('users.settings') }}>Account settings</a></p>
    <p><a href={{ url_for('users.logout') }}>Sign out</a></p>
{% endblock %}
